<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui.examples.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/filenav_nav.gif"
            id="org.eclipse.ui.examples.navigator.view"
            name="Example View"
            restorable="true">
      </view>
      <category
            id="org.eclipse.ui.examples.navigator.category"
            name="Common Navigator Examples">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.examples.navigator.view">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.ui.examples.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.* ">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.examples.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.examples.navigator.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            id="org.eclipse.ui.examples.navigator.filters.hideNonJavaProjects"
            name="Hide non-Java projects">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
            </not></filterExpression>
      </commonFilter>
   </extension>

  <!-- Phase 2 -->
  <!-- Declare a content extension that renders the contents of a properties file -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.ui.examples.navigator.PropertiesContentProvider"
            icon="icons/prop_ps.gif"
            id="org.eclipse.ui.examples.navigator.propertiesContent"
            labelProvider="org.eclipse.ui.examples.navigator.PropertiesLabelProvider"
            name="Properties File Contents"
            priority="normal">
		      <triggerPoints>
		         	<or>
			            <and>
			               <instanceof value="org.eclipse.core.resources.IResource"/>
			               <test
			                     forcePluginActivation="true"
			                     property="org.eclipse.core.resources.extension"
			                     value="properties"/>
			            </and>
						<instanceof value="org.eclipse.ui.examples.navigator.PropertiesTreeData"/>
					</or>
		         </triggerPoints>
		         <possibleChildren>
		            <or>
		               <instanceof value="org.eclipse.ui.examples.navigator.PropertiesTreeData"/> 
		            </or>
		         </possibleChildren>
		      </navigatorContent>
   </extension>
   <!-- Bind the Properties content extension to the viewer -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.examples.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.examples.navigator.propertiesContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   
  
</plugin>
