<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mytestapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mytestapp.Perspective"
            id="MyTestApp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="mytestapp.View"
            id="MyCommandApp.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="MyCommandApp.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="mytestapp.handler.TestHandler1"
            id="MyCommandApp.command1"
            name="Cmd 1">
      </command>
      <command
            defaultHandler="mytestapp.handler.TestHandler2"
            id="MyCommandApp.command2"
            name="Cmd 2">
      </command>
      <command
            defaultHandler="mytestapp.handler.DefTestHandler"
            id="MyCommandApp.command3"
            name="Cmd 3">
      </command>
      <command
            defaultHandler="mytestapp.handler.DefTestHandler"
            id="MyCommandApp.command4"
            name="Show Selection">
      </command>
      <command
            defaultHandler="mytestapp.handler.SayHelloHandler"
            id="MyCommandApp.SayHello"
            name="Say Hello">
         <commandParameter
               id="MyCommandApp.commandParameter.Name"
               name="Name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         name="В Главное меню"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="MyCommandApp.command3"
               label="Command 3"
               style="push">
         </command>
         <menu
               id="MyCommandApp.MyMenu"
               label="My Menu">
            <command
                  commandId="MyCommandApp.command1"
                  style="push">
            </command>
            <command
                  commandId="MyCommandApp.command2"
                  style="push">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="Say Menu">
            <command
                  commandId="MyCommandApp.SayHello"
                  label="Say Hello Diga"
                  style="push">
               <parameter
                     name="MyCommandApp.commandParameter.Name"
                     value="Uncle Diga">
               </parameter>
            </command>
            <command
                  commandId="MyCommandApp.SayHello"
                  label="Say Hello Nata"
                  style="push">
               <parameter
                     name="MyCommandApp.commandParameter.Name"
                     value="Nata">
               </parameter>
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="mytestapp.runtimecommands.DefineCommands"
            locationURI="menu:MyCommandApp.MyMenu?after=separator1">
      </menuContribution>
   </extension>
   <extension
         name="PopUp"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="MyCommandApp.command1"
               label="pop up 1 (popup.any)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=edit">
         <command
               commandId="MyCommandApp.command1"
               label="pop up 1 (popup.any + before edit)"
               style="push">
         </command>
         <command
               commandId="MyCommandApp.command2"
               label="pop up 2 (popup.any + before edit)"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:MyCommandApp.view?endof=edit">
         <command
               commandId="MyCommandApp.command1"
               label="pop up 1 (popup.view + endof edit)"
               style="push">
         </command>
         <command
               commandId="MyCommandApp.command2"
               label="pop up 2 (popup.view + endof edit)"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         name="View менюшки"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:MyCommandApp.view">
         <command
               commandId="MyCommandApp.command3"
               icon="icons/alt_window_16.gif"
               label="View Cmd3"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:MyCommandApp.view">
         <command
               commandId="MyCommandApp.command4"
               label="=1="
               style="push"
               tooltip="Выделено 1">
         </command>
         <command
               commandId="MyCommandApp.command4"
               label="=2="
               style="push"
               tooltip="Выделено 2">
         </command>
         <command
               commandId="MyCommandApp.command4"
               label="=3="
               style="push"
               tooltip="Выделено 3">
         </command>
         <command
               commandId="MyCommandApp.command3"
               icon="icons/alt_window_16.gif"
               label="Tool Cmd3 "
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:MyCommandApp.view">
         <command
               commandId="MyCommandApp.command3"
               label="popup cmd3 (no additions)"
               style="push">
         </command>
         <command
               commandId="MyCommandApp.command4"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:MyCommandApp.view?before=additions">
         <command
               commandId="MyCommandApp.command3"
               label="popup cmd3 (before additions)"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mytestapp.handler.ShowSelectedOneHandler"
            commandId="MyCommandApp.command4">
         <activeWhen>
            <reference
                  definitionId="MyCommandApp.definition.OneElementSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="mytestapp.handler.ShowSelectedManyHandler"
            commandId="MyCommandApp.command4">
         <activeWhen>
            <reference
                  definitionId="MyCommandApp.definition.ManyElementsSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="mytestapp.handler.ShowSelectedManyHandler"
            commandId="MyCommandApp.command4">
            
         <activeWhen>
            <reference
                  definitionId="MyCommandApp.definition.ManyElementsSelected">
            </reference>
                    </activeWhen>
      </handler>
      <handler
            class="mytestapp.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="MyCommandApp.definition.OneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="MyCommandApp.definition.Elem2">
         <with
               variable="selection">
            <count
                  value="2">
            </count>
         </with>
      </definition>
      <definition
            id="MyCommandApp.definition.ManyElementsSelected">
         <with
               variable="selection">
            <count
                  value="(2-">
            </count>
         </with>
      </definition>
   </extension>

</plugin>
