<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="de.techjava.rcp.cnf.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="de.techjava.rcp.cnf.subcontent.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="de.techjava.rcp.cnf.view">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.techjava.rcp.cnf.subcontent.provider.CNFSubContentProvider"
            id="de.techjava.rcp.cnf.subcontent.navigatorContent"
            labelProvider="de.techjava.rcp.cnf.subcontent.provider.CNFSubLabelProvider"
            name="Sub Content"
            priority="normal"
            providesSaveables="false">
         <enablement>
            <instanceof
                  value="de.techjava.rcp.cnf.data.Child">
            </instanceof>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.techjava.rcp.cnf.subcontent.handler.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="de.techjava.rcp.cnf.subcontent.petSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="de.techjava.rcp.cnf.subcontent.petSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.techjava.rcp.cnf.subcontent.petSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.techjava.rcp.cnf.subcontent.data.Pet">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
