<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.techjava.rcp.cnf.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.techjava.rcp.cnf.application"
            name="CNF Example">
         <property
               name="appName"
               value="CNF Example">
         </property>
         <property
               name="windowImages"
               value="icons/favicon.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.techjava.rcp.cnf.ui.Perspective"
            id="de.techjava.rcp.cnf.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.techjava.rcp.cnf.provider.CNFNavigator"
            id="de.techjava.rcp.cnf.view"
            name="Virtual CNF"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="de.techjava.rcp.cnf.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="de.techjava.rcp.cnf.view.popup">
            <insertionPoint
                  name="group.new"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="de.techjava.rcp.cnf.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="de.techjava.rcp.cnf.content.VirtualContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.techjava.rcp.cnf.provider.CNFContentProvider"
            id="de.techjava.rcp.cnf.content.VirtualContent"
            labelProvider="de.techjava.rcp.cnf.provider.CNFLabelProvider"
            name="Virtual content"
            priority="normal">
         <actionProvider
               class="de.techjava.rcp.cnf.provider.CNFActionProvider"
               id="openChildProvider">
         </actionProvider>
         <enablement>
            <or>
               <instanceof
                     value="de.techjava.rcp.cnf.data.Parent">
               </instanceof>
               <instanceof
                     value="de.techjava.rcp.cnf.data.Child">
               </instanceof>
               <instanceof
                     value="de.techjava.rcp.cnf.data.Root">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            class="de.techjava.rcp.cnf.provider.CNFFilter"
            description="Only shows the Parent02"
            id="de.techjava.rcp.cnf.filters.parent2only"
            name="Parent 02 Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.techjava.rcp.cnf.perspective">
         <view
               closeable="false"
               id="de.techjava.rcp.cnf.view"
               minimized="false"
               moveable="false"
               ratio="1.0"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.techjava.rcp.cnf.view.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="cnf.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="cnf.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.techjava.rcp.cnf.view.popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               id="cnf.popupmenu.props"
               label="Properties"
               mnemonic="I"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.techjava.rcp.cnf.handler.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="de.techjava.rcp.cnf.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="de.techjava.rcp.cnf.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.techjava.rcp.cnf.elementSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="de.techjava.rcp.cnf.data.Child">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <!-- extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.techjava.rcp.cnf.contribution1"
            objectClass="de.techjava.rcp.cnf.data.Child">
         <action
               class="de.techjava.rcp.cnf.popup.actions.DeleteAction"
               enablesFor="1"
               id="de.techjava.rcp.cnf.deleteAction"
               label="Delete"
               menubarPath="group.edit"
               tooltip="Delete a child">
         </action>
      </objectContribution>
   </extension-->
</plugin>
