<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="My Action Category"
            id="MyActionPlugin">
      </category>
      <view
            name="Action View"
            icon="icons/alt16.gif"
            category="MyActionPlugin"
            class="my.actionplugin.views.ActionView"
            id="my.actionplugin.views.ActionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Описание для Action Set #1"
            id="MyActionPlugin.ActionSet1"
            label="Action Set #1"
            visible="true">
         <menu
               icon="icons/online.gif"
               id="MyActionPlugin.ActionSet1.menu1"
               label="ActionSet-Menu1"
               path="window/additions">
            <groupMarker
                  name="groupMarker1">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               allowLabelUpdate="true"
               icon="icons/chat.gif"
               id="MyActionPlugin.as1.action1"
               label="AS1 Action1"
               menubarPath="window/additions"
               pulldown="true"
               retarget="true"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/mytoolbar">
         </action>
         <action
               icon="icons/away.gif"
               id="MyActionPlugin.as1.action2"
               label="AS1 Action2"
               menubarPath="window/additions"
               pulldown="true"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/mytoolbar">
         </action>
         <action
               icon="icons/dnd.gif"
               id="MyActionPlugin.as1.action3"
               label="AS1 Action3"
               menubarPath="window/additions"
               pulldown="true"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
         <action
               definitionId="org.eclipse.ui.file.exit"
               id="MyActionPlugin.as1.actionExit"
               label="Exit"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="MyActionPlugin.viewActions1"
            targetID="my.actionplugin.views.ActionView">
         <menu
               icon="icons/online.gif"
               id="MyActionPlugin.viewActions1.menu1"
               label="viewMenu1"
               path="additions2">
            <groupMarker
                  name="groupMarker1">
            </groupMarker>
         </menu>
         <action
               icon="icons/chat.gif"
               id="MyActionPlugin.viewActions1.action1"
               label="ViewAction1"
               style="push">
            <enablement>
               <objectClass
                     name="myactionplugin.Object1">
               </objectClass>
            </enablement>
         </action>
         <action
               id="MyActionPlugin.viewActions1.action2"
               label="ViewAction2"
               menubarPath="additions1"
               style="push">
            <selection
                  class="myactionplugin.Object1">
            </selection>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="MyActionPlugin.viewerContribution1"
            targetID="my.actionplugin.views.ActionView">
         <action
               id="MyActionPlugin.popup.action1"
               label="Popup Action1"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>

</plugin>
