<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.eclipsetips.rcp.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.eclipsetips.rcp.app.Perspective"
            id="com.eclipse-tips.rcp.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.eclipsetips.rcp.app.View"
            id="com.eclipse-tips.rcp.app.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.eclipse-tips.rcp.app.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.eclipse_tips.rcp.app.SessionSourceProvider">
         <variable
               name="com.eclipse-tips.rcp.app.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="mymenu"
               label="My Menu">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <command
                  commandId="com.eclipse-tips.rcp.app.sessionCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="org.eclipse.ui.window.preferences"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="com.eclipse-tips.rcp.app.sessionState">
                  <equals
                        value="loggedIn">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.eclipse-tips.rcp.app.sessionCommand"
            name="Session Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.eclipse_tips.rcp.app.handlers.LoginHandler"
            commandId="com.eclipse-tips.rcp.app.sessionCommand">
         <activeWhen>
            <with
                  variable="com.eclipse-tips.rcp.app.sessionState">
               <equals
                     value="loggedOut">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.eclipse_tips.rcp.app.handlers.LogoutHandler"
            commandId="com.eclipse-tips.rcp.app.sessionCommand">
         <activeWhen>
            <with
                  variable="com.eclipse-tips.rcp.app.sessionState">
               <equals
                     value="loggedIn">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Format">
            <command
                  commandId="com.eclipse-tips.commandState.boldCommand"
                  label="Bold"
                  style="toggle">
            </command>
            <command
                  commandId="com.eclipse-tips.commandState.italicCommand"
                  label="Italic"
                  style="toggle">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
			<command 
            commandId="com.eclipse-tips.commandState.alignCommand" 
            label="Align Left" 
            style="radio"> 
	         <parameter 
	               name="org.eclipse.ui.commands.radioStateParameter" 
	               value="left"> 
	         </parameter> 
		      </command> 
		      <command 
		            commandId="com.eclipse-tips.commandState.alignCommand" 
		            label="Align Center" 
		            style="radio"> 
		         <parameter 
		               name="org.eclipse.ui.commands.radioStateParameter" 
		               value="center"> 
		         </parameter> 
		      </command> 
		      <command 
		            commandId="com.eclipse-tips.commandState.alignCommand" 
		            label="Align Right" 
		            style="radio"> 
		         <parameter 
		               name="org.eclipse.ui.commands.radioStateParameter" 
		               value="right"> 
		         </parameter> 
			  </command>     
           </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.eclipse_tips.commandstate.BoldHandler"
            id="com.eclipse-tips.commandState.boldCommand"
            name="Bold">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.eclipse_tips.commandstate.ItalicHandler"
            id="com.eclipse-tips.commandState.italicCommand"
            name="Italic">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
		<command 
		      defaultHandler="com.eclipse_tips.commandstate.AlignHandler" 
		      id="com.eclipse-tips.commandState.alignCommand" 
		      name="Align Command"> 
		   <commandParameter 
		         id="org.eclipse.ui.commands.radioStateParameter" 
		         name="State" 
		         optional="false"> 
		   </commandParameter> 
		   <state 
		         class="org.eclipse.ui.handlers.RadioState:left" 
		         id="org.eclipse.ui.commands.radioState"> 
		   </state> 
		</command>      
   </extension>

</plugin>
