<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Snippet DB  Category"
            id="org.eclipse.jface.examples.databinding.snippets">
      </category>
      <view
            name="Snippet View"
            icon="icons/sample.gif"
            category="org.eclipse.jface.examples.databinding.snippets"
            class="org.eclipse.jface.examples.databinding.snippets.views.SampleView"
            id="org.eclipse.jface.examples.databinding.snippets.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
